.main
    .teamList
        .addPokemonForm
            padding-left: 1rem
            width: 49%

            .teamFullError
                background-color: yellow
                padding: 1rem

                p 
                    &:first-child
                        font-size: 2rem
                        font-weight: bold
                        padding-bottom: 1rem
                    
                    p 
                        font-size: 1.9rem

            .addPokemonForm
                background-color: yellow
                padding: 1rem

                input
                    font-size: 2.5rem
