.main
    background-color: blue
    border-top: solid white .1rem
    height: 100vh

    .teamList
        .teams
            display: flex
            
            .pokemonTeam
                width: 100%
                display: flex
                padding-left: 1rem
                flex-wrap: wrap
                .pokemonTeamList
                    background-color: yellow
                    display: flex
                    margin-right: 2rem
                    width: 25%
                    margin-bottom: 2rem

                    .pokemonTeamHeader
                        display: flex
                        justify-content: space-between
                        align-items: center
                        border-bottom: solid .1rem black
                        width: 100%
                        padding-left: 1rem
                        padding-right: 1rem
                        height: 3rem

                        p, a
                            color: black
                            font-size: 1.8rem

                        .crudControls
                            display: flex
                            justify-content: space-between

                            a
                                &:first-child
                                    padding-right: .5rem
                    ul 
                        padding-top: .5rem
                        li
                            color: black