.main
    background-color: blue
    border-top: solid white .1rem
    height: 100vh

    .teamList
        .teams
            display: flex
            
            .pokemonTeam
                width: 100%
                display: flex
                padding-left: 1rem
                flex-wrap: wrap
                .pokemonTeamList
                    background-color: yellow
                    display: flex
                    margin-right: 2rem
                    width: 25%
                    margin-bottom: 2rem
                    flex-direction: column

                    .pokemonTeamHeader
                        display: flex
                        justify-content: space-between
                        align-items: center
                        border-bottom: solid .1rem black
                        padding-left: 1rem
                        padding-right: 1rem
                        height: 3rem

                        p, a
                            color: black
                            font-size: 1.8rem
                        p
                            font-weight: bold

                        .crudControls
                            display: flex
                            justify-content: space-between

                            a
                                &:first-child
                                    padding-right: .5rem
                    ul 
                        display: flex
                        justify-content: space-evenly
                        padding: .5rem
                        flex-wrap: wrap

                        .pokemon
                            color: black
                            display: flex
                            align-items: center
                            flex-direction: column
                            width: 29%
                            border: 1px solid darkorchid
                            margin-bottom: 2rem

                            p 
                                font-size: 2rem

                            .pokemonData
                                display: flex
                                flex-direction: column
                                text-align: center
                                padding-bottom: .5rem

                                h1 
                                    font-size: 1.8rem
                                p 
                                    font-size: 1.5rem
                                    padding-top: .5rem