.teamList
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    padding: 1rem
    .team
        display: flex
        flex-direction: column
        background-color: #d9a635
        margin-left: 1rem
        margin-right: 1rem
        margin-bottom: 2rem
        border: 1rem #1e2371 double 
        padding: 0rem

        .teamHeader
            display: flex
            justify-content: space-between
            border-bottom: 5px solid #1e2371
            padding: 1rem

            h1 
                font-size: 2rem
                font-weight: bold
                padding-left: .5rem

            .teamOptions
                display: flex
                justify-content: space-around
                align-items: center
                width: 20%

        .pokemonList
            display: flex
            justify-content: space-evenly
            flex-wrap: wrap

            li 
                display: flex
                justify-content: space-between
                align-items: center
                list-style-type: none
                text-align: center
                margin-bottom: .5rem
                width: 100%
                padding-right: 1rem

                .pokemonData
                    p 
                        font-size: 1.5rem
                        





















    // .team
    //     display: flex
        
    //     .pokemonTeam
    //         width: 100%
    //         display: flex
    //         padding-left: 1rem
    //         flex-wrap: wrap
    //         .pokemonTeamList
    //             background-color: yellow
    //             display: flex
    //             margin-right: 2rem
    //             width: 25%
    //             margin-bottom: 2rem
    //             flex-direction: column

    //             .pokemonTeamHeader
    //                 display: flex
    //                 justify-content: space-between
    //                 align-items: center
    //                 border-bottom: solid .1rem black
    //                 padding-left: 1rem
    //                 padding-right: 1rem
    //                 height: 3rem

    //                 p, a
    //                     color: black
    //                     font-size: 1.8rem
    //                 p
    //                     font-weight: bold

    //                 .crudControls
    //                     display: flex
    //                     justify-content: space-between

    //                     a
    //                         &:first-child
    //                             padding-right: .5rem
    //             ul 
    //                 display: flex
    //                 justify-content: space-evenly
    //                 padding: .5rem
    //                 flex-wrap: wrap

    //                 .pokemon
    //                     color: black
    //                     display: flex
    //                     align-items: center
    //                     flex-direction: column
    //                     width: 29%
    //                     border: 1px solid darkorchid
    //                     margin-bottom: 2rem

    //                     p 
    //                         font-size: 2rem

    //                     .pokemonData
    //                         display: flex
    //                         flex-direction: column
    //                         text-align: center
    //                         padding-bottom: .5rem

    //                         h1 
    //                             font-size: 1.8rem
    //                         p 
    //                             font-size: 1.5rem
    //                             padding-top: .5rem