@import url("https://fonts.googleapis.com/css?family=Roboto:700");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Holtwood One SC', serif;
  background-color: white;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

div#root {
  width: 100%; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

header {
  background-color: blue;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header h1 {
    color: white;
    padding-left: .5rem; }
  header a {
    color: white;
    font-size: 1.6rem;
    padding-right: .5rem; }

.main {
  background-color: blue;
  border-top: solid white .1rem;
  height: 100vh; }
  .main .pokemonTeam {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    border: solid 1px white;
    width: 25%;
    height: auto;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem; }
    .main .pokemonTeam .pokemonTeamHeader {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: solid .1rem black; }
    .main .pokemonTeam p, .main .pokemonTeam a {
      color: black; }
    .main .pokemonTeam ul {
      padding-top: .5rem; }
      .main .pokemonTeam ul li {
        color: black; }

.addTeamForm {
  padding-bottom: 4rem;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .addTeamForm h1 {
    width: 100%;
    padding-left: 2rem;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem; }
  .addTeamForm input {
    font-size: 2.5rem;
    border: 1px solid white; }
  .addTeamForm .searchButton {
    width: 5rem;
    height: 5rem;
    background-color: white;
    border: 1px solid white; }
